<div class="container">
    <br>
    <h3 class="text-center text-info  ">Login As User </h3>
    <!--Login & Signup in single row-->
    <div class="row">
        <!--Column for signin-->
        <div class="col-sm-8 text-center signin">
            <form action="#!">
                <!-- Email --> 
                <input type="email" class="form-control mb-4" placeholder="&#xf0e0; Email" style="font-family:Arial, FontAwesome">
                 <!-- Password -->
                  <input type="password" class="form-control mb-4" placeholder="&#xf023; Password" style="font-family:Arial, FontAwesome">
                  <!-- Sign in button -->
                  <button class="btn btn-info btn-block LoginBtn"> <a routerLinkActive="active" routerLink="/login5">Login </a></button>
                  <br>
                   <a class="ForgotPassBtn"  ></a><a routerLinkActive="active" routerLink="/ForgotPassword" style="color:black">Forgot Your Password?</a> 
                  
                   <button class="button button1"> <a routerLinkActive="active" routerLink="/login3">New User Registration </a></button>
  
                  
            </form>
        
    </div>
  </div>