<!--For all screen-->
<div class="container">
    <br>
    <h3>Login As User </h3>
    <!--Login & Signup in single row-->
    <div>
        <!--Column for signin-->
        <div >
            <form action="#!">
                <!-- Email --> 
                <input type="email"  placeholder="&#xf0e0; Email" style="font-family:Arial, FontAwesome">
                 <!-- Password -->
                  <input type="password"  placeholder="&#xf023; Password" style="font-family:Arial, FontAwesome">
                  <!-- Sign in button -->
                  <button> <a>Login </a></button>
                  <br>
                   <a  ></a><a>Forgot Your Password?</a> 
                  
                
  
                  
            </form>
        </div>
        <!--Column for signin-->
        <div >          
            <button > <a>New User Registration </a></button>
        </div>
    </div>
  </div>
