<div class="row">
    <div class="main">
      <div class="card">
        <h2 style="text-align: center;">Login  As Admin </h2>

        

    <div class="container">
        
    <label for="passWord"><b>Password</b></label>
    <input type="password" name="passWord" ngModel>

    <label for="Confirm Password"><b>Confirm Password</b></label>
    <input type="Confirm Password" name="Confirm Password" ngModel>

    
   
    <button class="button button12"> <a routerLinkActive="active" routerLink="/login2">Submit</a></button>
    
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      
      
      <button type="button" class="cancelbtn"> <a routerLinkActive="active" routerLink="/"> Cancel  </a> </button>
       
 
</div>



</div>