<h6 style="float:right" >
    <button class="button button1"><a routerLinkActive="active" routerLink="/login1"> Logout </a></button>
    
  </h6>
<div class="container">
            <h3 style="text-align: center; font-size: 18px;">Welcome Admin</h3>
 

    <div>
        <br>
        
       <button class="button button1"><a routerLinkActive="active"  routerLink="/login1" > Add Question  </a></button>
  
        <br><br><br>
  
        <button class="button button2"> <a routerLinkActive="active" routerLink="/login1" >Remove Question </a></button>
        <br><br><br>

        <button class="button button3"> <a routerLinkActive="active" routerLink="/AdminReport" >View Report </a></button>
  
    </div>
</div>
      
        <router-outlet></router-outlet>
