<h6 style="float:right" >
    <button class="button button1"><a routerLinkActive="active" routerLink="/login1"> Logout </a></button>
    
  </h6>
  
  
  <div class="container">
      <br>
      <h3 style="text-align: center;">Select the exam you want to appear</h3>
      
      
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">Java</a></button>
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">Sql</a></button>
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">Angular</a></button>
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">C-Sharp</a></button>
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">C/C++</a></button>
      <button type="button" class="btn btn-outline-success"><a routerLinkActive="active" routerLink="/Instruction">DotNet</a></button>

  </div>
