<div class="header">
  <h1>Welcome to ONLINE EXAM SYSTEM</h1>    
  
</div>

 <div class="topnav">
  <ul>
    <li> <a routerLinkActive="active" routerLink="/"> Home  </a> </li>
    <li> <a routerLinkActive="active" routerLink="/about"> About Us  </a></li>
    <li><a routerLinkActive="active" routerLink="/contact"> Contact Us </a></li>
  
    
  </ul>
</div> 
<router-outlet></router-outlet>

<br>
<br>
<br>
<br>

<div class="footer">
  <p>© 2021  Online Exams Platform  </p>
</div>

<router-outlet></router-outlet>