<div class="container">
    <div class="main">
      <div class="card">
        <h2 style="text-align: center;">Login  As Admin </h2><br>

       

    
        <label for="userName"><b>Username / Email Id</b></label>
    <input type="text" name=userName ngModel/>
   
   
    <button class="button button2"> <a routerLinkActive="active" routerLink="/">Submit </a></button>
    
    </div>
        
      <button type="button" class="cancelbtn"> <a routerLinkActive="active" routerLink="/"> Cancel  </a> </button>