<div class="container h-100"> 
    <div class="d-flex h-100"> 
        <div class="align-self-start mr-auto"> 
            
        </div> 
       
        <div class="align-self-end ml-auto"> 
          <button type="button" class="btn btn-danger">
              
              <a routerLinkActive="active" routerLink="/login2"> Logout </a></button> 
        </div> 
    </div> 
</div> 

  <h1 style="text-align: center;">Exam Instruction</h1>
<br> <br> <br> 


<div class="container h-100"> 
  <div class="d-flex h-100"> 
    
        <div class="align-self-center mx-auto">
        <button type="button" class="btn btn-success"> 
          <a routerLinkActive="active" routerLink="/QuestionPaper">Start Exam </a>
      </button> 
        </div>
  </div>
</div>
<br><br><br>

<div class="container h-100"> 
  <div class="d-flex h-100">
<div class="align-self-start mr-auto"> 
  <button type="button" > 
    <a routerLinkActive="active" routerLink="/SelectExam"> Back </a>
  </button> 
</div> 
  </div>
</div>
