<br>
<div class="container">
    <h4 style="text-align:center;font-family:helvetica;margin-top:35px;color:#404040;font-size:20px">New User Registration</h4>

    <br>
    <div class="row">
        <div class="col">
        <input type="text" class="form-control" placeholder="Full name" aria-label="Full Name">
            <br>
            <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number">
            <br>
            <input type="text" class="form-control" placeholder="State" aria-label="State">
            <br>
            <input type="text" class="form-control" placeholder="Qualification" aria-label="Qualification">
            <br>
            <br>
        
        </div>
        <div class="col">
        <input type="text" class="form-control" placeholder="Email/Username" aria-label="Email/Username">
        <br>
        <input type="text" class="form-control" placeholder="Date of Birth" aria-label="Date of Birth">
        <br>
        <input type="text" class="form-control" placeholder="City" aria-label="City">
        <br>
        <input type="text" class="form-control" placeholder="Year of Completion" aria-label="Year of Completion">
        </div>
        
         <button type="Submit" class="btn-success"> <a routerLinkActive="active" routerLink="/login2"> Register </a></button>

    </div>
</div>

