<h6 style="float:right">
    <button class="button button1"><a routerLinkActive="active" routerLink="/login2"> Logout </a></button>
    
  </h6>
  
   
    <h3 style="text-align: center;">Welcome User</h3>
   
  <div class="container">
      <div class="card">
          <br>
          
          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="button button3"> <a routerLinkActive="active" routerLink="/SelectExam">Select New Exam</a></button>
              <br> <br>
              <button class="button button3"> <a routerLinkActive="active" routerLink="/Report">View Report </a></button>
            </div>
      </div>
        
          <router-outlet></router-outlet>
    
